* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

button {
    background-color: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}